*{
    padding: 0;
    margin: 0;
    
}
body{
  
    width: 100vw;
    height: 100vh;
    background-image: url('img/fundoQr.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    
}
.titulo_fotos{
  font-family:"Playwrite IN", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
} 

.container {
  width: 85vw;
  max-width: 1200px;
  margin: 1em 1em;
  overflow: hidden;
  
}

.gallery {
  display: flex;
  overflow-x: scroll;
  padding: 10px 10px;
  scrollbar-width: thin;
  scrollbar-color: #007BFF;
}
.gallery::-webkit-scrollbar{
  height: 8px;
}
.gallery::-webkit-scrollbar-track{
  background-color: #ccc;
}
.gallery::-webkit-scrollbar-thumb{
  background-color: #007BFF;
  border-radius: 10px;
  border: 2px solid#ccc
}
.gallery img {
  margin-right: 10px;
  border: 2px solid #6fd0e3;
  border-radius: 5px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.gallery img:last-child {
  margin-right: 0;
}

.informacoes{
  background-color:#ffffff88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card__informacao{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.descrição__titulo{
  color:#2a0cd1;
  font-weight: 700;
  margin: 0.5em 0;
}

.inicio_descricao{
  color:rgb(72, 72, 239);
  font-weight: 700;
  font-size: 18px;
  margin: 0.5em 0
  
}

.texto{
  color:rgb(72, 72, 239);
  font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    box-sizing: border-box;
}
.modal img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}
.modal p {
    font-size: 1.2em;
    color: #333;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


@media screen and (min-width: 1024px) {
    .titulo_fotos{
        font-size: 26px;
    }
    .galerry {
        width:60% ;
      
        
    }
    .informacoes{
        width: 40%;
        margin: 8em auto;
    }    
}

@media screen and (min-width: 1728px){
    .container{
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }


    .galerry{
        width: 50%;
    }

    .descrição__titulo{
        font-size: 32px;
    }

    .texto{
        font-size: 16px;
    }

    .descrição{
        margin-right: 2em;
    }
    .informacoes{
        width: 60%;
        
    }
}